

/* roboto-300 - cyrillic_latin */

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/roboto-v20-cyrillic_latin-300.eot');
	/* IE9 Compat Modes */
	src: local('Roboto Light'), local('Roboto-Light'), url('fonts/roboto-v20-cyrillic_latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/roboto-v20-cyrillic_latin-300.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/roboto-v20-cyrillic_latin-300.woff') format('woff'), /* Modern Browsers */
	url('../fonts/roboto-v20-cyrillic_latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../fonts/roboto-v20-cyrillic_latin-300.svg#Roboto') format('svg');
	/* Legacy iOS */
}


/* roboto-regular - cyrillic_latin */

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/roboto-v20-cyrillic_latin-regular.eot');
	/* IE9 Compat Modes */
	src: local('Roboto'), local('Roboto-Regular'), url('../fonts/roboto-v20-cyrillic_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/roboto-v20-cyrillic_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/roboto-v20-cyrillic_latin-regular.woff') format('woff'), /* Modern Browsers */
	url('../fonts/roboto-v20-cyrillic_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../fonts/roboto-v20-cyrillic_latin-regular.svg#Roboto') format('svg');
	/* Legacy iOS */
}


/* roboto-700 - cyrillic_latin */

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/roboto-v20-cyrillic_latin-700.eot');
	/* IE9 Compat Modes */
	src: local('Roboto Bold'), local('Roboto-Bold'), url('../fonts/roboto-v20-cyrillic_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/roboto-v20-cyrillic_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/roboto-v20-cyrillic_latin-700.woff') format('woff'), /* Modern Browsers */
	url('../fonts/roboto-v20-cyrillic_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../fonts/roboto-v20-cyrillic_latin-700.svg#Roboto') format('svg');
	/* Legacy iOS */
}


/* roboto-900 - cyrillic_latin */

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 900;
	src: url('../fonts/roboto-v20-cyrillic_latin-900.eot');
	/* IE9 Compat Modes */
	src: local('Roboto Black'), local('Roboto-Black'), url('../fonts/roboto-v20-cyrillic_latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/roboto-v20-cyrillic_latin-900.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/roboto-v20-cyrillic_latin-900.woff') format('woff'), /* Modern Browsers */
	url('../fonts/roboto-v20-cyrillic_latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
	url('/fonts/roboto-v20-cyrillic_latin-900.svg#Roboto') format('svg');
	/* Legacy iOS */
}

html,
body {
	margin: 0;
	padding: 0;
}

.main__third {
	/* height: 364px; */
	background-color: #a44200;
	background-image: linear-gradient(13deg, #a44200 15%, #f2c17d 84%);
	padding-bottom: 75px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}

button:hover {
	cursor: pointer;
}

header {
	background-color: #fbfbfb;
}


/* !POPUP */

.popup {
	display: flex;
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #7f7f7f57;
	justify-content: center;
	flex-wrap: wrap;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 500;
}

.form-group input {
	margin: 15px auto;
	width: 70%;
	font-size: 16px;
} 

form input {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	border: 0;
	border-radius: 35px;
}

.form-group {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

form {
	background-color: whitesmoke;
	/* padding-top: 55px; */
	padding-bottom: 55px;
	border-radius: 55px;
	align-self: center;
}

form h2 {
	text-align: center;
	font-size: 25px;
	margin-top: 25px;
	margin-bottom: 25px;
} 

form button {
	border: 0;
	border-radius: 35px;
	padding: 5px 10px;
	width: 270px;
	height: 60px;
	margin-top: 30px;
	background-color: #a44200;
	color: white;
	align-self: center;
	font-size: 18px;
}

.close {
	border: 0;
	border-radius: none;
	background-color: #a4420000;
	height: 25px;
	width: 25px;
	background-image: url(../img/close.png);
	background-size: 25px 25px;
	margin: 0;
	margin-top: 35px;
	margin-left: 550px;
	background-repeat: no-repeat;
}

.popup__title {
	display: flex;
	justify-content: center;
}

.owhidden {
	overflow: hidden;
}

.container-bcg {
	background-image: url(../img/Ellipse_header.svg);
	background-position: right bottom;
	background-repeat: no-repeat;
	background-color: #fbfbfb;
	overflow: hidden;
	height: 694px;
	padding-left: 40px;
	padding-right: 40px;
}

.container-img {
	position: relative;
	left: 200px;
	margin-top: 57px;
}

svg {
	position: absolute;
	left: 1106px;
	top: 138px;
}

path {
	fill: inherit;
	stroke: inherit;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

.fixed-container {
	margin: 0 auto;
	max-width: 1170px;
	width: 100%;
}

.main__first {
	margin: auto;
}

.main__second {
	background-color: #fbfbfb;
	overflow: hidden;
}

.content__title {
	text-align: center;
	width: 100%;
	padding-top: 85px;
	padding-bottom: 95px;
	font-size: 54px;
	font-weight: 700;
}

.content__skills {
	display: flex;
	justify-content: space-between;
	margin-bottom: 108px;
	margin-left: 0;
	margin-right: 0;
}

.skills {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 234px;
	text-align: center;
	font-size: 19px;
	color: #8993ad;
}

.skills h2 {
	font-weight: 400;
}

.slills__decr {
	padding-top: 25px;
	font-size: 16px;
	padding-top: 16px;
}

.main__first__cost {
	display: flex;
	width: 100%;
	justify-content: center;
}

/* ! .man_img {
	position: absolute;
	margin: auto;
	top: 131px;
	right: 294px;
	background-position: right bottom;
	background-repeat: no-repeat;
	z-index: 1;
} */

.man_img_phone {
	display: none;
	position: absolute;
	margin: auto;
	background-position: right bottom;
	background-repeat: no-repeat;
	z-index: 1;
}

.fixed-container__header-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: baseline;
	margin: auto;
	padding-top: 30px;
	width: 100%;
	max-width: 1170px;
}

.fixed-container__header-content ul li {
	display: inline;
	margin-right: 30px;
}

.fixed-container__header-content a {
	text-decoration: none;
	color: black;
}

.fixed-container__header-content a:hover {
	text-decoration: underline;
	color: #b82e1f;
}

.footer-info a:hover {
	text-decoration: underline;
	color: #b82e1f;
}

.right_number {
	font-weight: 700;
	font-size: 25px;
}

.right_number a {
	margin-right: 30px;
}

.fixed-container__header-content__right {
	display: flex;
	align-items: center;
}

.header-content__call {
	color: #a44200;
	background-color: transparent;
	width: 207px;
	height: 45px;
	border: 1px solid #a44200;
	font-size: 16px;
}

.header-content__call,
.more_info,
.call_footer {
	cursor: pointer;
}

.fixed-container__header-content__about-me {
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	width: 100%;
	max-width: 1170px;
}

.header-content__info {
	z-index: 2;
	margin-top: 206px;
}

.info__name {
	font-size: 80px;
	font-weight: 700;
	margin-bottom: 20px;
}

.info__description {
	font-size: 25px;
	color: #8993ad;
	margin-bottom: 45px;
}

.info__other-button {
	margin-bottom: 100px;
	color: #fff;
	width: 270px;
	height: 60px;
	background-color: #a44200;
	border: none;
	font-size: 18px;
}

.hidden {
	overflow: hidden;
}

.info__other_desctop {
	margin-bottom: 100px;
	color: #fff;
	width: 270px;
	height: 60px;
	background-color: #a44200;
	border: none;
	font-size: 18px;
}

.info__other_tablet {
	display: none;
	margin-bottom: 100px;
	color: #fff;
	width: 270px;
	height: 60px;
	background-color: #a44200;
	border: none;
	font-size: 18px;
}

.main-info {
	display: none;
	text-align: center;
	margin-top: 10px;
	margin-right: 20px;
	margin-left: 20px;
}


.info__name-phone {
	font-size: 30px;
	font-weight: 700;

}

.info__description-phone {
	font-size: 16px;
	color: #8993ad;
	margin-top: 10px;
	margin-bottom: 27px;
}

.info__other-phone {
	color: #fff;
	width: 280px;
	height: 55px;
	background-color: #a44200;
	border: none;
	font-size: 18px;
}

.second__examples {
	margin-bottom: 95px;
	position: relative;
}

.swiper-button-prev::after {
	display: none;
}

.swiper-button-next::after {
	display: none;
}

.swiper-button-prev {
	background-image: url(../img/arrow.png);
	background-repeat: no-repeat;
	background-color: #ffffff;
	border: none;
	border-radius: 30px;
	outline: none;
	width: 60px;
	height: 60px;
	box-shadow: 0 0 12px -5px;
	cursor: pointer;
	top: 40%;
	left: -30px;
}

.swiper-button-next {
	background-image: url(../img/arrow.png);
	background-repeat: no-repeat;
	background-color: #ffffff;
	border: none;
	border-radius: 30px;
	outline: none;
	width: 60px;
	height: 60px;
	box-shadow: 0 0 12px -5px;
	cursor: pointer;
	transform: rotateY(180deg);
	top: 40%;
	right: -30px;
}

.swiper-container img {
	width: 100%;
}

.swiper-descr {
	padding-top: 38px;
	font-size: 20px;
	font-weight: 500;
	text-align: center;
	color: #8993ad;
}

.second__cost {
	display: flex;
	justify-content: center;
}

.footer-info__social ul li {
	display: inline;
	list-style: none;
}

.third__content__title {
	margin: auto;
	padding-top: 85px;
	max-width: 947px;
	width: 100%;
	font-size: 45px;
	color: white;
}

.main__third__title {
	display: flex;
	flex-wrap: wrap;
	color: white;
	font-weight: 700;
	font-size: 45px;
}

.third__content__descr {
	color: #ffffff;
	line-height: 30px;
	font-size: 18px;
	margin-top: 40px;
}

.footer-info__nav a {
	text-decoration: none;
}

.footer-info__contacts a {
	text-decoration: none;
	color: #8993ad;
}

.footer-info__nav li {
	list-style-type: none;
	margin-bottom: 15px;
}

.footer-info__nav a {
	color: black;
}

.footer-info__contacts li {
	list-style-type: none;
	font-size: 25px;
}

.footer-info__contacts a {
	color: black;
}

.footer-info__nav li:nth-child(3) {
	margin-bottom: 0;
}

.footer-info__contacts li {
	margin-bottom: 35px;
}

.footer-info__contacts li:nth-child(2) {
	margin-bottom: 0;
}

.footer-info__contacts {
	display: flex;
	flex-wrap: nowrap;
	margin-left: 131px;
}

.footer-info__social a {
	display: inline-block;
	margin-right: 30px;
}

.social__call {
	width: 248px;
	height: 45px;
	margin-bottom: 30px;
	border: 1px solid #a44200;
	color: #a44200;
	background-color: transparent;
}

.footer-info__bar {
	color: white;
	text-align: center;
	background-color: #31293c;
}

.footer-info {
	margin-bottom: 30px;
	margin: auto;
	padding-top: 85px;
	padding-bottom: 70px;
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: 1170px;
}

.bar__autor {
	padding: 30px 0;
}

.fa {
	padding-right: 15px;
	background: linear-gradient(13deg, #a44200 15%, #f2c17d 74%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.container-bcg__fly-elements__fly-div {
	top: 170px;
	left: 890px;
	transform: rotate(-15deg);
	font-size: 29px;
	transition: 3s;
}

.container-bcg__fly-elements__fly-div2 {
	top: 542px;
	left: 1055px;
	transform: rotate(15deg);
	font-size: 35px;
	transition: 2s;
}

.container-bcg__fly-elements__fly-slesh {
	top: 674px;
	left: 481px;
	transform: rotate(-22deg);
	font-size: 38px;
	transition: 1s;
}

.container-bcg__fly-elements__fly-slesh2 {
	display: none;
	transform: rotate(180deg);
	font-size: 38px;
	transition: 1s;
	z-index: 2;
	position: absolute;
	transition: all 2sec ease-out;
	background-image: linear-gradient(180deg, #a44200 15%, #f2c17d 74%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: 700;
	top: 235px;
	left: 259px;
}

.container-bcg__fly-elements__fly-teg {
	top: 360px;
	left: 348px;
	transform: rotate(25deg);
	font-size: 55px;
	transition: 3s;
}

.container-bcg__fly-elements__fly-selector {
	top: 138px;
	left: 230px;
	transform: rotate(25deg);
	font-size: 43px;
	transition: 1s;
}

.container-bcg__fly-elements__fly-selector,
.container-bcg__fly-elements__fly-teg,
.container-bcg__fly-elements__fly-slesh,
.container-bcg__fly-elements__fly-div2,
.container-bcg__fly-elements__fly-div {
	position: absolute;
	transition: all 2sec ease-out;
	background-image: linear-gradient(180deg, #a44200 15%, #f2c17d 74%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: 700;
}

.anim {
	left: 0;
	top: 0;
}

.anim2 {
	left: 1400px;
}

.main__third__teg-bracket-left {
	top: 2331px;
	left: 228px;
	font-size: 48px;
	transform: rotate(25deg);
}

.main__third__teg-bracket-right {
	left: 1867px;
	top: 2530px;
	transform: rotate(-20deg);
	font-size: 48px;
}

.main__third__teg-bottom {
	top: 2522px;
	left: 346px;
	font-size: 55px;
	transform: rotate(25deg);
}

.main__third__div-bottom {
	left: 1525px;
	top: 2575px;
	transform: rotate(23deg);
	font-size: 35px;
}

.main__third__slesh-bottom {
	top: 2346px;
	left: 1759px;
	font-size: 38px;
	transform: rotate(-20deg);
}

.main__third__teg-bracket-left,
.main__third__teg-bracket-right,
.main__third__teg-bottom,
.main__third__div-bottom,
.main__third__slesh-bottom {
	position: absolute;
	color: white;
	font-weight: 700;
}

.swiper-pagination {
	display: none;
}

.header__mob-nav {
	display: none;
}

#header-content__burger {
	display: none;
}

.menu__icon {
	display: none;
}

/* !TABLET */
@media (min-width: 1024px) and (max-width: 1919px) {

.fixed-container__header-content ul li {
	display: inline;
}

.fixed-container__header-content__left {
	top: 42px;
    left: 150px;
    position: absolute;
}

.container-img {
	left: 0;
}

.right_number a{
	margin-left: 440px;
}

.fixed-container {
	padding-left: 40px;
	padding-right: 40px;
}

.header-content__call {
	font-size: 16px;
}

.fixed-container__header-content__right {
	display: flex;
	justify-content: space-between;
}

/* !Menu ICON ANIMATION */
.header-content__burger {
	width: 45px;
	height: 40px;
	position: relative;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
	background-color: #fbfbfb;
	border: 0;
	outline: none;
  }

  
 .header-content__burger span {
	display: block;
	position: absolute;
	height: 5px;
	width: 100%;
	background: #d3531a;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
  }


.header-content__burger span:nth-child(1) {
	top: 0px;
  }
  
  .header-content__burger span:nth-child(2),.header-content__burger span:nth-child(3) {
	top: 18px;
  }
  
  .header-content__burger span:nth-child(4) {
	top: 36px;
  }
  
  .header-content__burger.open span:nth-child(1) {
	top: 18px;
	width: 0%;
	left: 50%;
  }
  
  .header-content__burger.open span:nth-child(2) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
  }
  
  .header-content__burger.open span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
  }
  
  .header-content__burger.open span:nth-child(4) {
	top: 18px;
	width: 0%;
	left: 50%;
  }

header {
 background-position: right -267px bottom -81px;
}

.header-content__info {
	margin-top: 223px;
}

.container-bcg__fly-elements__fly-selector {
	top: 156px;
	left: 81px;
}

.container-bcg__fly-elements__fly-slesh {
	top: 581px;
	left: 359px;
}

.container-bcg__fly-elements__fly-slesh2 {
	display: inline-block;
	rotate: 190deg;
}

.container-bcg__fly-elements__fly-teg {
	top: 630px;
	left: 59px;
}

.container-bcg__fly-elements__fly-div {
	top: 220px;
    left: 487px;
}

.container-bcg__fly-elements__fly-div2 {
	top: 547px;
	left: 871px;
	z-index: 2;
}

.fixed-container__header-content__left {
	display: none;
}

.header_nav_mobile {
	display: inline;
}

.container-bcg {
	background-position: right -270px bottom;
}

.info__name {
	font-size: 54px;
}

.info__description {
	font-size: 25px;
}

.info__other-button {
	width: 320px;
	height: 68px;
}

.fixed-container__header-content {
	width: 100%;
	display: inline-block;
}

.man_img {
	right: 50px;
}

.anim2 {
	left: 430px;
}

.content__skills {
	margin-top: 85px;
    margin-bottom: 0;
    margin-left: 155px;
    margin-right: 163px;
	flex-wrap: wrap;
}

.content__title {
	margin-top: 79px;
	padding: 0;
}

.slills__decr {
	margin-bottom: 82px;
	font-size: 17px;
	line-height: 30px;
	font-weight: 400;	
}

.info__other {
	margin-top: 10px;
	margin-bottom: 110px;
}

.second__examples {
	margin-top: 100px;
	margin-bottom: 88px;
}

.swiper-pagination {
	top: 50px;
	display: block;
	top: 95%;
}

.swiper-pagination-bullet {
	height: 18px;
	width: 18px;
}

.swiper-pagination .swiper-pagination-bullet {
	margin-top: 150px;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
	margin-right: 30px;
}

.swiper-container-horizontal > .swiper-pagination-bullets {
	left: 17px;
}

.swiper-button-next, .swiper-button-prev, .main__third__teg-bracket-left, .main__third__teg-bottom, .anim2, .container-bcg__fly-elements__fly-div2  {
	display: none;
}

.info__other_desctop {
	display: none;
}

.swiper-descr {
	font-size: 25px;
	padding-top: 10px;
}

.swiper-container {
	height: 536px;
}

.slider {
	position: relative;
}

.info__other_tablet {
	display: inline-block;
	width: 320px;
	height: 67px;
}

.main__third__teg-bracket-right {
	left: 157px;
	top: 2725px;
	transform: rotate(200deg);
	font-size: 30px;
}

.main__third__div-bottom {
	left: 510px;
	top: 3000px;
	font-size: 27px;
}

.main__third__slesh-bottom {
	top: 2990px;
	left: 875px;
}

.footer-info {
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 74px;
	padding-top: 106px;
}

.third__content__title {
	padding-top: 77px;
}

.third__content__descr{
	margin-top: 30px;
}

.social__call {
	font-size: 16px;
}

.footer-info__social a {
	margin-right: 26px;
}

.footer-info__contacts {
	margin-left: 115px;
}

}



@media (min-width:1151px) and (max-width:1300px) {
	.content__skills {
		justify-content: space-around;
		margin-left: 0;
		margin-right: 0;
	}
}

@media (min-width:1301px) and (max-width:1650px) {
	.container-bcg__fly-elements__fly-slesh {
		left: 750px;
	}



	.content__skills {
		margin-left: 0;
		margin-right: 0;
	}
}

@media (min-width:1025px) and (max-width:1650px) {
	.container-img {
		left:50px
	}
}

@media (min-width:1025px) and (max-width:1107px) {
	.content__skills {
		justify-content: space-around;
	}
}

@media (min-width: 1025px) and (max-width: 1919px) {
	.content__skills {
		max-width: none;
		margin-right: 0;
		margin-left: 0;
	}
}

/* !PHONE */

@media (min-width:320px) and (max-width:1023px) {

	.fixed-container__header-content ul li {
		width: 100%;
		display: block;
		padding-left: 117px;
		padding-right: 117px;
		margin-right: 0;
		padding-top: 25px;
		padding-bottom: 25px;
		border-bottom: 1px solid #f5eeee;
		background-color: #fbfbfb;
	}

	.fixed-container__header-content ul li:nth-child(3) {
		border-bottom: none;
	}
	
	.fixed-container__header-content__left {
		top: 80px;
		left: 0;
		z-index: 14;
		position: absolute;
	}

	/* !Menu ICON ANIMATION */
.header-content__burger {
	width: 24px;
	height: 18px;
	position: relative;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
	z-index: 15;
	outline: none;
	border: 0;
	background-color: #fbfbfb;
  }
  
 .header-content__burger span {
	display: block;
	position: absolute;
	height: 3px;
	width: 100%;
	background: #d3531a;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
  }


.header-content__burger span:nth-child(1) {
	top: 0px;
  }
  
  .header-content__burger span:nth-child(2),.header-content__burger span:nth-child(3) {
	top: 8px;
  }
  
  .header-content__burger span:nth-child(4) {
	top: 16px;
  }
  
  .header-content__burger.open span:nth-child(1) {
	top: 18px;
	width: 0%;
	left: 50%;
  }
  
  .header-content__burger.open span:nth-child(2) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
  }
  
  .header-content__burger.open span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
  }
  
  .header-content__burger.open span:nth-child(4) {
	top: 18px;
	width: 0%;
	left: 50%;
  }

	header {
		/* background-image: url(../img/Ellipse_phone.svg); */
		background-position: right bottom;
	}
	

	.fixed-container__header-content__left {
		display: none;
		width: 100%;
		text-align: center;
	}
	.right_number {
		font-size: 18px;
	}

	.right_number a {
		margin-left: 40px;
	}

	.header-content__call,
	.container-bcg__fly-elements__fly-div,
	.swiper-button-prev,
	.swiper-button-next {
		display: none;
	}

	.container-bcg__fly-elements__fly-selector {
		font-size: 22px;
		left: 50px;
		top: 100px;
	}

	.container-bcg__fly-elements__fly-teg {
		left: 37px;
		top: 205px;
		font-size: 24px;
	}  
	
	.container-bcg__fly-elements__fly-slesh {
		left: 60%;
		top: 75px;
		font-size: 22px;
		transform: rotate(-30deg);
	}

	.container-bcg__fly-elements__fly-div2 {
		left: 76%;
		font-size: 15px;
		top: 145px;
		transform: rotate(30deg);
	}

	.header-content__call {
		display: inline-block;
		border: 0;
		font-size: 0;
		height: 26px;
		width: 26px;
		background-image: url(../img/mini_call.png);
		background-color: #fbfbfb;
		z-index: 2;
	}

	.fixed-container {
		padding-left: 20px;
		padding-right: 20px;
	}

	.man_img {
		display: none;
	}

	.man_img_phone {
		display: inline;
		top: 35px;
		left: 16px;
	}

	.header-content__info {
		display: none;
	}

	.fixed-container__header-content {
		max-width: 1030px;
		justify-content: space-around;
	}

	.right_number {
		z-index: 2;
	}

	.content__title {
		padding: 0;
		margin-top: 42px;
		margin-bottom: 42px;
		font-size: 30px;
		padding: 0 20px;
	}

	.content__skills {
		flex-direction: column;
		align-items: center;
		margin-bottom: 0;
	}

	.content__skills img {
		width: 28%;
		height: auto;
		margin-bottom: 2px;
	}

	.skills {
		max-width: 220px;
		margin-bottom: 50px;
	}

	.info__other-button {
		width: 280px;
		height: 55px;
		font-size: 16px;	
		margin-bottom: 50px;
	}

	.main-info {
		display: flex;
		justify-content: center;
	}

	.swiper-slide {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}

	.swiper-pagination {
		top: 50px;
		display: block;
		top: 95%;
	}
	
	.swiper-pagination-bullet {
		height: 10px;
		width: 10px;
	}

	.swiper-container {
		height: 340px;
	}

	.swiper-descr {
		width: 100%;
		font-size: 18px;
		padding-top: 6px;
	}
	
	.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
		margin-right: 10px;
	}

	.second__examples {
		margin-bottom: 50px;
	}

	.info__other_desctop {
		width: 280px;
		height: 55px;
		font-size: 16px;
		margin-bottom: 50px;
	}

	.main__third {
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 42px;
	}

	.third__content__title {
		padding: 0;
		font-size: 28px;
		padding-top: 45px;
		line-height: 40px;
	}

	.third__content__descr {
		font-size: 15px;
		margin-top: 28px;
	}
	
	.main__third__teg-bracket-left,
	.main__third__teg-bracket-right,
	.main__third__teg-bottom,
	.main__third__div-bottom,
	.main__third__slesh-bottom {
		display: none;
	}

	footer {
		overflow: hidden;
	}

	.footer-info {
		flex-direction: column;
		margin-left: 20px;
		margin-right: 20px;
		padding-top: 45px;
		padding-bottom: 48px;
	}

	.footer-info__nav a{
		color: #8993ad;
	}

	.footer-info__social a  {
		margin-right: 26px;
	}

	.footer-info__contacts {
		margin: 0;
		margin-top: 43px;
	}

	.footer-info__contacts a {
		color: #8993ad;
		font-size: 20px;
	}

	.footer-info__nav li {
		margin-bottom: 12px;
	}
	
	.footer-info__contacts li {
		font-size: 16px;
		margin-bottom: 16px;
	}

	.social__call {
		margin-top: 25px;
		margin-bottom: 50px;
		width: 280px;
		height: 55px;
		font-size: 16px;
		background-color: #a44200;
		color: #fff;
	}

	.bar__autor {
		padding: 18px 0;
		font-size: 12px;
	}

	.header__mob-nav {
		position: fixed;
		width: 100%;
		margin-top: 30px;
		text-align: center;
		z-index: 15;
		background-color: #FFFFFF;
	}

	.header__mob-nav ul li {
		display: block;
		padding-top: 15px;
		padding-bottom: 15px;
		margin-right: 0;
		border-bottom: 1px solid #fbfbfb;
	} 

	.header__mob-nav ul {
		z-index: 15;
	}

	.fixed-container {
		padding: 0;
	}

	.container-bcg {
		background-image: url(../img/Ellipse_phone.svg);
		height: 412px;
	}
	
	.container-img {
		left: 0;
		margin: 0;
		bottom: 22px;
	}

	.swiper-container img {
		width: 282px;
		height: 251px;
	}
	
	.fixed-container__header-content__about-me {
		justify-content: center;
	}

	/* !POPUP */


form {
	width: 100%;
}

.close {
	margin-left: 83%;
}

}

@media (min-width: 1240px) and (max-width: 1919px) {
	.fixed-container {
		padding: 0;
	}

	.fixed-container__header-content__left {
		left:300px;
	}
}

@media (min-width:1651px) and (max-width:1919px) {
	.container-bcg__fly-elements__fly-slesh {
		left: 950px;
	}
	.container-bcg__fly-elements__fly-div {
		left: 1100px;
	}

	.container-img {
		left: 300px;
	}

	.content__skills {
		margin-left: 250px;
		max-width: 600px;
	}

	.fixed-container__header-content__left {
		left: 450px;
	}
}
