
/* roboto-300 - cyrillic_latin */

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/roboto-v20-cyrillic_latin-300.eot');
	/* IE9 Compat Modes */
	src: local('Roboto Light'), local('Roboto-Light'), url('fonts/roboto-v20-cyrillic_latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/roboto-v20-cyrillic_latin-300.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/roboto-v20-cyrillic_latin-300.woff') format('woff'), /* Modern Browsers */
	url('../fonts/roboto-v20-cyrillic_latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../fonts/roboto-v20-cyrillic_latin-300.svg#Roboto') format('svg');
	/* Legacy iOS */
}


/* roboto-regular - cyrillic_latin */

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/roboto-v20-cyrillic_latin-regular.eot');
	/* IE9 Compat Modes */
	src: local('Roboto'), local('Roboto-Regular'), url('../fonts/roboto-v20-cyrillic_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/roboto-v20-cyrillic_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/roboto-v20-cyrillic_latin-regular.woff') format('woff'), /* Modern Browsers */
	url('../fonts/roboto-v20-cyrillic_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../fonts/roboto-v20-cyrillic_latin-regular.svg#Roboto') format('svg');
	/* Legacy iOS */
}


/* roboto-700 - cyrillic_latin */

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/roboto-v20-cyrillic_latin-700.eot');
	/* IE9 Compat Modes */
	src: local('Roboto Bold'), local('Roboto-Bold'), url('../fonts/roboto-v20-cyrillic_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/roboto-v20-cyrillic_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/roboto-v20-cyrillic_latin-700.woff') format('woff'), /* Modern Browsers */
	url('../fonts/roboto-v20-cyrillic_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../fonts/roboto-v20-cyrillic_latin-700.svg#Roboto') format('svg');
	/* Legacy iOS */
}


/* roboto-900 - cyrillic_latin */

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 900;
	src: url('../fonts/roboto-v20-cyrillic_latin-900.eot');
	/* IE9 Compat Modes */
	src: local('Roboto Black'), local('Roboto-Black'), url('../fonts/roboto-v20-cyrillic_latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/roboto-v20-cyrillic_latin-900.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/roboto-v20-cyrillic_latin-900.woff') format('woff'), /* Modern Browsers */
	url('../fonts/roboto-v20-cyrillic_latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
	url('/fonts/roboto-v20-cyrillic_latin-900.svg#Roboto') format('svg');
	/* Legacy iOS */
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	overflow-x: hidden;
}

.third {
	height: 364px;
	background-color: #a44200;
	background-image: linear-gradient(13deg, #a44200 15%, #f2c17d 84%);
	padding-bottom: 75px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}

button:hover {
	cursor: pointer;
}


.header {
	background-color: #fbfbfb;
}

.header__burger {
	display: none;
}

.hvr {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
  box-shadow: inset 0 0 0 0px #e1e1e1, 0 0 1px rgba(0, 0, 0, 0);
  /* Hack to improve aliasing on mobile/tablet devices */
}
.hvr:hover, .hvr:focus, .hvr:active {
  box-shadow: inset 0 0 0 4px #d48f0f, 0 0 1px rgba(0, 0, 0, 0);
  /* Hack to improve aliasing on mobile/tablet devices */
}

.hvr-grow {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
  }
  .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
  }

.hvr-link {
	color: #a44200;
	position: relative;
	text-decoration: none;
	transition: all 0.15s ease-out;
}

.hvr-link:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	bottom: 0px;
	left: 0;
	background: #a44200	;
	visibility: hidden;
	transform: scaleX(0);
	transition: all 0.3s ease-in-out 0s;
}
.hvr-link:hover {
	transition: all 0.15s ease-out;
}
.hvr-link:hover:before {
	visibility: visible;
	transform: scaleX(1);
}

/* !POPUP */
 
.popup__fname, .popup__email, .popup__tel {
	visibility: hidden;
}

.popup {
	display: flex;
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #7f7f7f57;
	justify-content: center;
	flex-wrap: wrap;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 500;
}

.popup__input {
	padding: 20px;
	border: 0;
	border-radius: 35px;
	margin: 15px 20%;
	width: 70%;
	font-size: 16px;
}

.popup__content {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.popup__form {
	background-color: whitesmoke;
	/* padding-top: 55px; */
	padding-bottom: 55px;
	border-radius: 55px;
	align-self: center;
}

.popup__submit {
	border: 0;
	border-radius: 35px;
	padding: 5px 10px;
	width: 270px;
	height: 60px;
	margin-top: 30px;
	background-color: #a44200;
	color: white;
	align-self: center;
	font-size: 18px;
}

.popup__close {
	border: 0;
	border-radius: none;
	background-color: #a4420000;
	height: 25px;
	width: 25px;
	background-image: url(../img/close.png);
	background-size: 25px 25px;
	margin: 0;
	margin-top: 35px;
	margin-left: 92%;
	background-repeat: no-repeat;
}

.popup__title {
	display: flex;
	justify-content: center;
}

/* !POPUP END */

.about {
	background-image: url(../img/Ellipse_header.svg);
	background-position: right bottom;
	background-repeat: no-repeat;
	background-color: #fbfbfb;
	overflow: hidden;
	height: 694px;
	padding-left: 40px;
	padding-right: 40px;
}

.about__photo {
	position: relative;
	left: 200px;
	margin-top: 57px;
}

.callback {
	display: flex;
}

.fixed-container {
	margin: 0 auto;
	max-width: 1170px;
	width: 100%;
}

.first {
	margin: auto;
}

.second {
	background-color: #fbfbfb;
	overflow: hidden;
}

.title {
	text-align: center;
	width: 100%;
	padding-top: 85px;
	padding-bottom: 88px;
	font-size: 54px;
	font-weight: 700;
}

.first__skills {
	display: flex;
	justify-content: space-between;
	margin-bottom: 100px;
	margin-left: 0;
	margin-right: 0;
}

.skills__box {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	font-size: 21px;
	color: #8993ad;
	width: 100%;
}

.skills__box:nth-child(1) {
	padding-left: 0;
    padding-right: 53px;
}

.skills__box:nth-child(3) {
	padding-left: 40px;
}

.slills__descr {
	font-weight: 400;
}

.slills__descr {
	padding-top: 25px;
	font-size: 20px;
	padding-top: 16px;
}

.first__cost {
	display: flex;
	width: 100%;
	justify-content: center;
}

/* ! .man_img {
	position: absolute;
	margin: auto;
	top: 131px;
	right: 294px;
	background-position: right bottom;
	background-repeat: no-repeat;
	z-index: 1;
} */

.header--content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding-top: 30px;
}

.menu__item {
	display: inline;
	margin-right: 30px;
}

.column {
	display: block;
}

.callback__number, .menu__link	 {
	text-decoration: none;
	color: black;
}

.callback__number:hover {
	text-decoration: none;
	color: #a44200;
}

.menu__link:hover {
	text-decoration: none;
	color: #a44200;
}

.callback__number {
	font-weight: 700;
	font-size: 25px;
	line-height: 45px;
	margin-right: 20px;
}

.header__right {
	display: flex;
	align-items: center;
}

.callback__button {
	color: #a44200;
	background-color: transparent;
	width: 207px;
	height: 45px;
	border: 1px solid #a44200;
	font-size: 16px;
}

.callback__button {
	cursor: pointer;
}

.about--container {
	display: flex;
	flex-wrap: wrap;
}

.author__info {
	z-index: 2;
	margin-top: 100px;
}

.author__info {
	font-size: 80px;
	font-weight: 700;
	margin-bottom: 20px;
}

.author__descr {
	font-size: 25px;
	color: #8993ad;
}

.btn--main {
	color: #fff;
	width: 270px;
	height: 60px;
	background-color: #a44200;
	border: none;
	font-size: 18px;	
}

.first__button {
	margin-bottom: 100px;
	color: #fff;
	width: 270px;
	height: 60px;
	background-color: #a44200;
	border: none;
	font-size: 18px;
}

.first__cost {
	margin-top: 12px;
}

.cost__desctop {
	margin-bottom: 100px;
	color: #fff;
	width: 270px;
	height: 60px;
	background-color: #a44200;
	border: none;
	font-size: 18px;
}

.cost__tablet {
	display: none;
	margin-bottom: 100px;
	color: #fff;
	width: 270px;
	height: 60px;
	background-color: #a44200;
	border: none;
	font-size: 18px;
}

/* .phone__author__info {
	font-size: 30px;
	font-weight: 700;
} */

/* .phone__info__descr {
	font-size: 16px;
	color: #8993ad;
	margin-top: 10px;
	margin-bottom: 27px;
}

.phone__author__button {
	color: #fff;
	width: 280px;
	height: 55px;
	background-color: #a44200;
	border: none;
	font-size: 18px;
} */

.second__examples {
	margin-bottom: 95px;
	position: relative;
}

.works-slider__arrow-left::after {
	display: none;
}

.works-slider__arrow-right::after {
	display: none;
}

.works-slider__arrow-left {
	background-image: url(../img/arrow.png);
	background-repeat: no-repeat;
	background-color: #ffffff;
	border: none;
	border-radius: 30px;
	outline: none;
	width: 60px;
	height: 60px;
	box-shadow: 0 0 12px -5px;
	cursor: pointer;
	top: 40%;
	left: -30px;
}

.works-slider__arrow-right {
	background-image: url(../img/arrow-right.png);
	background-repeat: no-repeat;
	background-color: #ffffff;
	border: none;
	border-radius: 30px;
	outline: none;
	width: 60px;
	height: 60px;
	box-shadow: 0 0 12px -5px;
	cursor: pointer;
	top: 40%;
	right: -30px;
}

.works-slide__img {
	width: 100%;
}

.works-descr {
	padding-top: 38px;
	font-size: 20px;
	font-weight: 500;
	text-align: center;
	color: #8993ad;
}

.second__cost {
	display: flex;
	justify-content: center;
}

.social__item {
	display: inline;
	list-style: none;
}

.social__link:hover {
	opacity: 0.7;
}

.cost__title {
	margin: auto;
	padding-top: 85px;
	max-width: 947px;
	width: 100%;
	font-size: 45px;
	color: white;
}

.cost__descr {
	color: #ffffff;
	line-height: 30px;
	font-size: 18px;
	margin-top: 40px;
}

.menu__link {
	text-decoration: none;
}

.column__link {
	text-decoration: none;
	color: #8993ad;
}

.menu__item {
	list-style-type: none;
	margin-bottom: 15px;
}

.menu__link {
	color: black;
}

.column__item {
	list-style-type: none;
	font-size: 25px;
}

.footer__contacts a {
	color: black;
}

.menu__item:nth-child(3) {
	margin-bottom: 0;
}

.column__item {
	margin-bottom: 35px;
}

.column__item:nth-child(2) {
	margin-bottom: 0;
}

.footer__contacts {
	display: flex;
	flex-wrap: nowrap;
	margin-left: 131px;
}

.footer__callback {
	width: 248px;
	height: 45px;
	margin-bottom: 30px;
	border: 1px solid #a44200;
	color: #a44200;
	background-color: transparent;
}

.footer__bar {
	color: white;
	text-align: center;
	background-color: #31293c;
}

.footer__author {
	padding: 40px;
}

.footer--info {
	padding-top: 85px;
	padding-bottom: 70px;
	display: flex;
	justify-content: space-between;
}

.footer__author {
	padding: 30px 0;
}

.fa {
	padding-right: 15px;
	background: linear-gradient(13deg, #a44200 15%, #f2c17d 74%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.animation__div {
	top: 170px;
	left: 890px;
	transform: rotate(-15deg);
	font-size: 29px;
	transition: 3s;
}

.animation__div2 {
	top: 542px;
	left: 1055px;
	transform: rotate(15deg);
	font-size: 35px;
	transition: 2s;
}

.animation__slesh {
	top: 674px;
	left: 481px;
	transform: rotate(-22deg);
	font-size: 38px;
	transition: 1s;
}

.animation__slesh2 {
	display: none;
	transform: rotate(180deg);
	font-size: 38px;
	transition: 1s;
	z-index: 2;
	position: absolute;
	transition: all 2sec ease-out;
	background-image: linear-gradient(180deg, #a44200 15%, #f2c17d 74%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: 700;
	top: 235px;
	left: 259px;
}

.animation__teg {
	top: 360px;
	left: 348px;
	transform: rotate(25deg);
	font-size: 55px;
	transition: 3s;
}

.animation__selector {
	top: 138px;
	left: 230px;
	transform: rotate(25deg);
	font-size: 43px;
	transition: 1s;
}

.animation__selector,
.animation__teg,
.animation__slesh,
.animation__div2,
.animation__div {
	position: absolute;
	transition: all 2sec ease-out;
	background-image: linear-gradient(180deg, #a44200 15%, #f2c17d 74%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: 700;
}

.anim--1 {
	left: 0;
	top: 0;
}

.anim--2 {
	left: 1400px;
}

.elements__tag-l {
	top: 2331px;
	left: 228px;
	font-size: 48px;
	transform: rotate(25deg);
}

.elements__tag-r {
	left: 1867px;
	top: 2530px;
	transform: rotate(-20deg);
	font-size: 48px;
}

.elements__tag {
	top: 2522px;
	left: 346px;
	font-size: 55px;
	transform: rotate(25deg);
}

.elements__div {
	left: 1525px;
	top: 2575px;
	transform: rotate(23deg);
	font-size: 35px;
}

.elements__slash {
	top: 2346px;
	left: 1759px;
	font-size: 38px;
	transform: rotate(-20deg);
}

.elements__tag-l,
.elements__tag-r,
.elements__tag,
.elements__div,
.elements__slash {
	position: absolute;
	color: white;
	font-weight: 700;
}

.works-pagination {
	display: none;
}

.popup--title {
	text-align: center;
	font-size: 25px;
	margin-top: 25px;
	margin-bottom: 25px;
	padding: 0;
} 

/* !TABLET */
@media (min-width: 1024px) and (max-width: 1919px) {

.header--content {
	padding-top: 30px;
}

.header--menu {
	display: inline;
}

.header__burger  {
	display: block;
}

.header__menu {
	display: none;
	top: 42px;
    left: 150px;
    position: absolute;
}

.about {
	padding: 0;
}

.about--container {
	flex-wrap: nowrap;
}

.about__photo {
	left: 0;
}

.fixed-container {
	padding-left: 40px;
	padding-right: 40px;
}

.callback__button {
	font-size: 16px;
}

.header__right {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

/* !Menu ICON ANIMATION */
.header__burger {
	width: 45px;
	height: 40px;
	position: relative;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
	background-color: #fbfbfb;
	border: 0;
	outline: none;
  }

  
 .burger__strip {
	display: block;
	position: absolute;
	height: 5px;
	width: 100%;
	background: #d3531a;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
  }


.burger__strip:nth-child(1) {
	top: 0px;
  }
  
  .burger__strip:nth-child(2),.burger__strip:nth-child(3) {
	top: 18px;
  }
  
  .burger__strip:nth-child(4) {
	top: 36px;
  }

.header {
 background-position: right -267px bottom -81px;
}

.author__info {
	margin-top: 116px;
}

.animation__selector {
	top: 156px;
	left: 81px;
}

.animation__slesh {
	top: 581px;
	left: 359px;
}

.animation__slesh2 {
	display: inline-block;
	rotate: 190deg;
}

.animation__teg {
	top: 630px;
	left: 59px;
}

.animation__div {
	top: 220px;
    left: 487px;
}

.animation__div2 {
	top: 547px;
	left: 871px;
	z-index: 2;
}

.footer--column {
	display: block;
}

.footer--link {
	color: #8993AD;
}

.about {
	background-position: right -270px bottom;
}

.author__info {
	font-size: 54px;
}

.author__descr {
	margin-bottom: 31px;
}

.author__button {
	width: 320px;
	height: 68px;	
}

.first__button {
	width: 320px;
	height: 68px;
	margin-bottom: 110px;
}

.anim--2 {
	left: 430px;
}

.first__skills {
	margin-top: 85px;
    margin-bottom: 0;
    margin-left: 155px;
    margin-right: 163px;
	flex-wrap: wrap;
}

.skills__box {
	max-width: 234px;
}

.title {
	margin-top: 79px;
	padding: 0;
}

.slills__descr {
	margin-bottom: 50px;
	font-size: 18px;
	line-height: 30px;
	font-weight: 400;	
}

.first__cost {
	margin-top: 46px;
}

.second__examples {
	margin-top: 100px;
	margin-bottom: 70px;
}

.works-pagination {
	top: 50px;
	display: block;
	top: 92%;
}

.works-slider__arrow-right, .works-slider__arrow-left, .elements__tag-l, .elements__tag, .anim--2, .animation__div2  {
	display: none;
}

.cost__desctop {
	display: none;
}

.works-descr {
	font-size: 25px;
	padding-top: 10px;
}

.works-container {
	height: 552px;
}

.works-container-horizontal>.works-pagination-bullets .works-pagination-bullet {
	margin: 0 16px;
}

.works-pagination-bullet {
	width: 16px;
	height: 16px;
	}

	.third {
		height: 364px;
	}

	.cost__tablet {
	display: inline-block;
	width: 320px;
	height: 67px;
	margin-bottom: 100px;
}

.elements__tag-r {
	left: 157px;
	top: 2725px;
	transform: rotate(200deg);
	font-size: 30px;
}

.elements__div {
	left: 510px;
	top: 3000px;
	font-size: 27px;
}

.elements__slash {
	top: 2990px;
	left: 875px;
}

.footer--info {
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 74px;
	padding-top: 106px;
}

.cost__title {
	padding-top: 77px;
}

.cost__descr{
	margin-top: 30px;
}

.footer__callback {
	font-size: 16px;
}

.footer__contacts {
	margin-left: 85px;
}

.column__item {
	margin-bottom: 27px;
}

}



@media (min-width:1151px) and (max-width:1300px) {
	.first__skills {
		justify-content: space-around;
		margin-left: 0;
		margin-right: 0;
	}
}

@media (min-width:1301px) and (max-width:1650px) {
	.animation__slesh {
		left: 750px;
	}



	.first__skills {
		margin-left: 0;
		margin-right: 0;
	}
}

@media (min-width:1025px) and (max-width:1650px) {
	.about__photo {
		left:50px
	}
}

@media (min-width:1025px) and (max-width:1107px) {
	.first__skills {
		justify-content: space-around;
	}
}

@media (min-width: 1025px) and (max-width: 1919px) {
	.first__skills {
		max-width: none;
		margin-right: 0;
		margin-left: 0;
	}

	.header--content {
		flex-wrap: nowrap;
	}

	.header__burger {
		display: none;
	}

	.header__menu {
		display: inline-block;
		position: inherit;
		width: 100%;
	}
}

/* !Mini-tablet */

@media (min-width: 576px) and (max-width: 1024px) {

	

	.header--content {
		padding-top: 30px;
	}
	
	.header--menu {
		display: inline;
	}

	.menu--tablet {
		display: flex;
		justify-content: center;
		width: 100%;
	}
	
	.header__burger  {
		display: block;
	}
	
	.header__menu {
		display: none;
		top: 17%;
		position: absolute;
	}

	.menu__link {
		margin-right: 15px;
	}
	
	.about {
		padding: 0;
	}
	
	.about--container {
		flex-wrap: nowrap;
	}
	
	.about__photo {
		order: 2;
		left: 0;
	}
	
	
	.fixed-container {
		padding-left: 40px;
		padding-right: 40px;
	}
	
	.callback__button {
		font-size: 16px;
	}

	.callback__number {
		font-size: 20px;
	}
	
	.header__right {
		display: flex;
		justify-content: space-between;
		width: 100%;
	}

	.animation__selector,
	.animation__teg,
	.animation__slesh2,
	.animation__slesh,
	.animation__div2,
	.animation__div {
		font-size: 24px;
	}

	/* !Menu ICON ANIMATION */
	.header__burger {
		width: 45px;
		height: 40px;
		position: relative;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: .5s ease-in-out;
		-moz-transition: .5s ease-in-out;
		-o-transition: .5s ease-in-out;
		transition: .5s ease-in-out;
		cursor: pointer;
		background-color: #fbfbfb;
		border: 0;
		outline: none;
	  }
	
	  
	 .burger__strip {
		display: block;
		position: absolute;
		height: 5px;
		width: 100%;
		background: #d3531a;
		opacity: 1;
		left: 0;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: .25s ease-in-out;
		-moz-transition: .25s ease-in-out;
		-o-transition: .25s ease-in-out;
		transition: .25s ease-in-out;
	  }
	
	
	.burger__strip:nth-child(1) {
		top: 0px;
	  }
	  
	  .burger__strip:nth-child(2),.burger__strip:nth-child(3) {
		top: 18px;
	  }
	  
	  .burger__strip:nth-child(4) {
		top: 36px;
	  }
	
	.header {
	 background-position: right -267px bottom -81px;
	}
	
	.author__info {
		margin-top: 15%;
	}
	
	.animation__selector {
		top: 25%;
		left: 10%;
	}
	
	.animation__slesh {
		top: 30%;
		left: 54%;
	}
	
	.animation__slesh2 {
		display: inline-block;
		rotate: 190deg;
	}
	
	.animation__teg {
		top: 89%;
		left: 59px;
	}
	
	.animation__div {
		top: 40%;
		left: 85%;
	}
	
	.animation__div2 {
		top: 547px;
		left: 871px;
		z-index: 2;
	}
	
	.footer--column {
		display: block;
	}
	
	.footer--link {
		color: #8993AD;
	}
	
	.about {
		background-image: url(../img/Ellipse_phone.svg);
		height: 491px;
		background-position: right 0% bottom;
	}
	
	.author__info {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		text-align: center;
		font-size: 35px;
		margin-bottom: 0;
	}

	.author__descr {
		font-size: 18px;
	}

	
	.author__button {
		width: 220px;
		height: 58px;	
	}

	.author {
		padding-right: 20px;
	}
	
	.first__button {
		width: 320px;
		height: 68px;
		margin-bottom: 110px;
	}
	
	.anim--2 {
		left: 430px;
	}
	
	.first__skills {
		margin-top: 85px;
		margin-bottom: 0;
		margin-left: 155px;
		margin-right: 163px;
		flex-wrap: wrap;
	}
	
	.skills__box {
		max-width: 234px;
	}
	
	.title {
		margin-top: 79px;
		padding: 0;
	}
	
	.slills__descr {
		margin-bottom: 50px;
		font-size: 17px;
		line-height: 30px;
		font-weight: 400;	
	}

	.skills__box,
	.skills__box:nth-child(1),
	.skills__box:nth-child(3) {
		padding: 0;
	}

	.first__skills {
		justify-content: center;
	}
	
	.first__cost {
		margin-top: 46px;
	}
	
	.second__examples {
		margin-top: 100px;
		margin-bottom: 70px;
	}
	
	.works-pagination {
		top: 50px;
		display: block;
		top: 92%;
	}
	
	.works-slider__arrow-right, .works-slider__arrow-left, .elements__tag-l, .elements__tag, .anim--2, .animation__div2  {
		display: none;
	}
	
	.cost__desctop {
		display: none;
	}
	
	.works-descr {
		font-size: 25px;
		padding-top: 10px;
	}
	
	.works-container {
		height: 450px;
	}
	
	.works-container-horizontal>.works-pagination-bullets .works-pagination-bullet {
		margin: 0 16px;
	}
	
	.works-pagination-bullet {
		width: 16px;
		height: 16px;
		}
	
		.third {
			height: 364px;
		}
	
		.cost__tablet {
		display: inline-block;
		width: 320px;
		height: 67px;
		margin-bottom: 100px;
	}
	
	.elements__tag-r {
		left: 157px;
		top: 2725px;
		transform: rotate(200deg);
		font-size: 30px;
	}
	
	.elements__div {
		left: 510px;
		top: 3000px;
		font-size: 27px;
	}
	
	.elements__slash {
		top: 2990px;
		left: 875px;
	}
	
	.footer--info {
		padding-left: 40px;
		padding-right: 40px;
		padding-bottom: 74px;
		padding-top: 106px;
	}
	
	.cost__title {
		padding-top: 77px;
		padding-left: 40px;
		padding-right: 40px;
	}
	
	.cost__descr{
		margin-top: 30px;
	}
	
	.footer__callback {
		font-size: 16px;
	}
	
	.footer__contacts {
		margin-left: 85px;
	}
	
	.column__item {
		margin-bottom: 27px;
	}

	.author__info, .author__info, .author__descr {
		width: 100%;
	}

	.footer--info {
		flex-direction: column;	
		margin-right: 20px;
		padding-top: 45px;
		padding-bottom: 48px;
		margin-bottom: 43px;
	}

	.third {
		height: auto;
	}

	.footer__contacts {
		margin: 0;
		margin-top: 33px;
	}

	.footer__contacts a {
		color: #8993ad;
		font-size: 20px;
	}

	.column {
		width: 100%;
		text-align: center;
		margin-bottom: 12px;
	}
	
	.column__link {
		font-size: 16px;
		margin-bottom: 16px;
	}

	.footer__callback {
		margin-top: 13px;
		margin-bottom: 50px;
		width: 280px;
		height: 55px;
		font-size: 16px;
		background-color: #a44200;
		color: #fff;
	}

	.footer__social {
		width: 100%;
		text-align: center;
	}

	.footer__author {
		padding: 18px 0;
		font-size: 12px;
	}

	.elements__tag-l,
	.elements__tag-r,
	.elements__tag,
	.elements__div,
	.elements__slash {
		display: none;
	}

	}
	

/* !PHONE */

@media (min-width:320px) and (max-width:575px) {

	.header {
		background-color: white;
	}

	.header--menu {
		width: 100%;
		display: block;
		padding-left: 117px;
		padding-right: 117px;
		margin-right: 0;
		padding-top: 25px;
		padding-bottom: 25px;
		border-bottom: 1px solid #f5eeee;
		background-color: #fbfbfb;
	}

	.header--menu:nth-child(3) {
		border-bottom: none;
	}
	
	.header__right {
		margin-top: 15px;
		margin-left: 20px;
		margin-right: 20px;
		justify-content: space-between;
		width: 100%;
		align-items: center;
	}

	.header__menu {
		display: none;
		position: absolute;
		top: 77px;
		left: 0;
		z-index: 14;
		background-color: #fbfbfb;
	}

	.header__burger {
		display: block;
	}

	.about {
		padding-left: 20px;
		padding-right: 20px;
	}

	.author__info {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		text-align: center;
		margin-top: 0;
		font-size: 30px;
		margin-bottom: 0;
		order: 1;
	}

	.author__descr {
		font-size: 16px;
		margin-bottom: 17px;
		order: 2;
	}

	.author__info, .author__info, .author__descr {
		width: 100%;
	}


	.about {
		background-position-y: 117px;
		background-color: white;
	}

	.author__button {
		margin: 0;
		width: 281px;
	}

	/* !Menu ICON ANIMATION */
.header__burger {
	width: 24px;
	height: 18px;
	position: relative;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
	z-index: 15;
	outline: none;
	border: 0;
	background-color: #fbfbfb;
  }
  
 .burger__strip {
	display: block;
	position: absolute;
	height: 3px;
	width: 100%;
	background: #d3531a;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
  }


.burger__strip:nth-child(1) {
	top: 0px;
  }
  
  .burger__strip:nth-child(2),.burger__strip:nth-child(3) {
	top: 8px;
  }
  
  .burger__strip:nth-child(4) {
	top: 16px;
  }

	.header {
		/* background-image: url(../img/Ellipse_phone.svg); */
		background-position: right bottom;
	}

	.header__menu {
		width: 100%;
	}

	.menu__list {
		width: 100%;
		text-align: center;
	}

	.slills__descr {
		font-size: 15px;
	}

	.footer--column {
		margin-top: 48px;
		text-align: left;
	}

	.column__item {
		margin-bottom: 14px;
	}

	.callback__number {
		font-size: 18px;
		margin-right: 34px;
	}

	.callback__button,
	.animation__div,
	.works-slider__arrow-left,
	.works-slider__arrow-right {
		display: none;
	}

	.animation__selector {
		font-size: 22px;
		left: 50px;
		top: 100px;
	}

	.animation__teg {
		left: 37px;
		top: 205px;
		font-size: 24px;
	}  
	
	.animation__slesh {
		left: 60%;
		top: 75px;
		font-size: 22px;
		transform: rotate(-30deg);
	}

	.animation__div2 {
		left: 76%;
		font-size: 15px;
		top: 145px;
		transform: rotate(30deg);
	}

	.callback__button {
		align-self: center;
		display: inline-block;
		border: 0;
		font-size: 0;
		height: 26px;
		width: 26px;
		background-image: url(../img/mini_call.png);
		background-color: #fbfbfb;
		z-index: 2;
	}

	.fixed-container {
		padding-left: 20px;
		padding-right: 20px;
	}

	.header--content {
		max-width: 1030px;
		justify-content: space-around;
	}

	.title {
		padding: 0;
		margin-top: 42px;
		margin-bottom: 42px;
		font-size: 30px;
		padding: 0 20px;
	}

	.first__skills {
		flex-direction: column;
		align-items: center;
		margin-bottom: 0;
	}

	.skills__img {
		width: 28%;
		height: auto;
		margin-bottom: 2px;
	}

	.skills__box {
		max-width: 220px;
		margin-bottom: 50px;
	}

	.author__button {
		width: 280px;
		height: 55px;
		font-size: 16px;
		order: 3;
	}

	.first__button {
		width: 280px;
		height: 55px;
		font-size: 16px;	
		margin-bottom: 50px;
	}

	.works-slide {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		height: 84%;
	}

	.works-pagination {
		top: 50px;
		display: block;
		top: 95%;
	}

	.works-pagination-bullet {
		width: 11px;
		height: 11px;
		margin-right: 5px;
	}

	.works-container-horizontal>.works-pagination-bullets .works-pagination-bullet {
		margin: 0 7px;
	}

	.works-container {
		height: 340px;
	}

	.works-descr {
		width: 100%;
		font-size: 18px;
		padding-top: 6px;
	}

	.second__examples {
		margin-bottom: 46px;
	}

	.cost__desctop {
		width: 280px;
		height: 55px;
		font-size: 16px;
		margin-bottom: 50px;
	}

	.third {
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 42px;
	}

	.cost__title {
		padding: 0;
		font-size: 28px;
		padding-top: 45px;
		line-height: 40px;
	}

	.cost__descr {
		font-size: 15px;
		margin-top: 28px;
	}
	
	.elements__tag-l,
	.elements__tag-r,
	.elements__tag,
	.elements__div,
	.elements__slash {
		display: none;
	}

	.footer {
		overflow: hidden;
	}

	.footer--info {
		flex-direction: column;
		margin-left: 20px;
		margin-right: 20px;
		padding-top: 45px;
		padding-bottom: 48px;
		margin-bottom: 43px;
	}

	.menu__link {
		color: #8993ad;
	}

	.third {
		height: auto;
	}

	.footer__contacts {
		margin: 0;
		margin-top: 33px;
	}

	.footer__contacts a {
		color: #8993ad;
		font-size: 20px;
	}

	.column {
		margin-bottom: 12px;
	}
	
	.column__link {
		font-size: 16px;
		margin-bottom: 16px;
	}

	.footer__callback {
		margin-top: 13px;
		margin-bottom: 50px;
		width: 280px;
		height: 55px;
		font-size: 16px;
		background-color: #a44200;
		color: #fff;
	}

	.footer__author {
		padding: 18px 0;
		font-size: 12px;
	}

	.fixed-container {
		padding: 0;
	}

	.about {
		background-image: url(../img/Ellipse_phone.svg);
    	height: 590px;
	}
	
	.about__photo {
		left: 0;
		margin: 0;
		bottom: 22px;
	}

	.works-slide__img {
		width: 282px;
		height: 251px;
	}
	
	.about--container {
		justify-content: center;
	}

	/* !POPUP */


.popup__form {
	width: 100%;
	border-radius: 0;
}

.popup__close {
	margin-left: 83%;
}

.popup--title {
	font-size: 16px;
}

.popup__input {
	margin: 10px 7%;
    width: 100%;
}

}

@media (min-width: 1240px) and (max-width: 1919px) {

	.header__menu {
		left:300px;
	}
}

@media (min-width:1651px) and (max-width:1919px) {
	.animation__slesh {
		left: 950px;
	}
	.animation__div {
		left: 1100px;
	}

	.about__photo {
		left: 300px;
	}

	.first__skills {
		margin-left: 250px;
		max-width: 600px;
	}

	.header__menu {
		left: 450px;
	}
}
