.callback {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
}

.callback__button {
    color: #a44200;
	background-color: transparent;
	width: 207px;
	height: 45px;
	border: 1px solid #a44200;
	font-size: 16px;
}

.callback__modal {}

.callback__number {}

.callback__phone {}

.header {

}

.header__nav {
    background-color: #fbfbfb;
    display: flex;
    justify-content: space-between;
    max-width: 1170px;
    margin: auto;
}

.menu {
    line-height: 45px;
}

.menu__item {}

.menu__link {}

.menu__list li {
    display: inline;
}